:root {
  /* Palette */
  --text-color-primary: #757575;
  --text-color-secondary: #212121;
  --text-color-other: #000000;
  --text-color-other-inv: #ffffff;
  --text-color-misc: rgba(255, 255, 255, 0.6);

  --bkg-color-primary: #ffffff;
  --bkg-color-secondary: #2f303a;
  --border: #ececec;
  --border-project: #eeeeee;

  --accent-color: #2196f3;
  --accent-hover: #188ce8;
  --accent-inactive: #f5f4fa;

  /* Variables */
  --projects-item-space: 30px;
}

body {
  background-color: var(--bkg-color-primary);
  color: var(--text-color-primary);

  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  justify-content: space-between;
  align-items: center;
}

.container-list {
  display: flex;
  /* margin-left: auto;
  margin-right: auto; */
  max-width: 1200px;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.vis-hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* HEADER */

.header {
  min-height: 80px;
  padding-top: 25px;
  padding-bottom: 25px;

  border-bottom: 1px solid var(--border);
}

.header-nav-panel {
  display: inline;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.header-logo {
  /* margin-top: 25px; */
  margin-right: 95px;
  /* margin-left: 215px; */
  /* margin-top: 30px;
  margin-bottom: auto; */
}

.logo-left {
  color: var(--accent-color);
}

.logo-right {
  color: var(--text-color-other);
}

.link {
  text-decoration: none;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-panel .link,
.header-contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.header-nav-panel-item,
.header-contacts-item {
  display: inline;
}

.header-nav-panel-item:not(:last-child),
.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-panel-item > .link {
  color: var(--text-color-secondary);
}

.header-nav-panel-item > .active-link {
  color: var(--accent-color);
}

.header-contacts-item > .link {
  color: var(--text-color-primary);
}

/* .header-nav-panel-item > .link:hover,
.header-nav-panel-item > .link:focus,
.header-contacts-item > .link:hover,
.header-contacts-item > .link:focus {
  color: var(--accent-color);
} */

/* section GENERIC */

.section {
  padding-top: 95px;
}

.section-bottom-pad {
  padding-bottom: 94px;
}

.section-header {
  /* font-weight: bold; */
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
  text-align: center;

  color: var(--text-color-secondary);
}

.list-item-inline {
  display: inline;
}

/* section HERO */

.section-hero {
  background-color: var(--bkg-color-secondary);
  /* padding: 200px 450px; */
  padding-top: 200px;
  padding-bottom: 200px;
}

.section-hero-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  color: var(--text-color-other-inv);
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 30px;
}

.btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;

  letter-spacing: 0.06em;
  text-align: center;

  background-color: var(--accent-color);
  color: var(--text-color-other-inv);

  border-radius: 4px;
  border-style: none;
  border-color: var(--accent-color);

  cursor: pointer;
}

.section-hero-btn {
  align-items: center;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-hover);
  /* color: var(--text-color-secondary); */
}

/* section TRAITS */

.section-traits-list {
  justify-content: start;
}

.section-traits-list-item {
  width: 270px;
  min-height: 100px;
}

.section-traits-list-item:not(:last-child) {
  margin-right: 30px;
}

.section-traits-list-item-header {
  /* font-weight: 700; */
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-color-secondary);
  margin-bottom: 10px;
}

.section-traits-list-item-desc {
  /* font-weight: normal; */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* section WE DO  */

.section-wedo-list-item:not(:last-child) {
  margin-right: 30px;
}

/* section TEAM  */

.team-member {
  padding-bottom: 30px;
}

.team-member:not(:last-child) {
  margin-right: 30px;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 0.03em;

  color: var(--text-color-secondary);
}

.team-member-position {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

/* page PORTFOLIO */

.portfolio-filters {
  margin-bottom: 15px; /*not padding-bottom because we don't want empty space to be included in the button and be clickable*/
}

.portfolio-filters-item:not(:last-child) {
  margin-right: 8px;
}

.btn-portfolio-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  background-color: var(--accent-inactive);
  color: var(--text-color-secondary);

  padding: 6px 22px;
}

.btn-portfolio-filter:focus,
.btn-portfolio-filter:hover {
  background-color: var(--accent-color);
  color: var(--text-color-other-inv);
}

.portfolio-projects {
  /* list-style: none; */
  justify-content: left;
  margin-top: 35px;
  margin-bottom: calc(-1 * var(--projects-item-space));
  margin-right: calc(-1 * var(--projects-item-space));
}

.portfolio-projects-item {
  flex-basis: calc(100% / 3 - var(--projects-item-space));
  margin-right: var(--projects-item-space);
  margin-bottom: var(--projects-item-space);
}

.portfolio-projects-item > .thumbnail {
  /* width: 370px; */
  max-width: 100%;
  height: auto;
  display: block;
}

.portfolio-projects-item > .prj-desc {
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 20px 24px;
  border: 1px solid var(--border-project);
  border-top: none;
}

.prj-desc > .prj-name {
  /* font-weight: 700; */
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--text-color-secondary);
  margin-bottom: 5px;
}

.prj-desc > .prj-type {
  /* font-weight: normal; */
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;
}

/* FOOTER */

.footer {
  min-height: 250px;
  background-color: var(--bkg-color-secondary);

  padding-top: 60px;
  padding-bottom: 60px;
  /* padding-left: 215px; */
}

.footer-logo {
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-logo > .logo-right {
  color: var(--text-color-other-inv);
}

.footer-contacts {
  /* list-style: none; */
  padding: 0;
  margin: 0;
}

.footer-contacts-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;

  color: var(--text-color-misc);
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-contacts-item > .addr {
  color: var(--text-color-other-inv);
}

.footer-contacts-item > .link {
  color: var(--text-color-misc);
}

/* Final additions */

.link:hover,
.link:focus {
  color: var(--accent-color);
}
